<h1> API Methods </h1>
<h3>Customer API</h3>
<table class="table table-striped">
	<tr>
		<th>What</th>
		<th>HTTP Method</th>
		<th>Path</th>
		<th>Data</th>
	</tr>
	<tr>
		<td>Create</td>
		<td>POST</td>
		<td>/customers</td>
		<td>{"customer": {"name":"John Doe","email":"john.doe@email.com","device_model":"Moto X","password": "OIJa098us98yjknkaiosOIHo080928071l"}}</td>
	</tr>
</table>