<div class="panel-group" id="accordion">  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMessageTech">
          Message a Technician
        </a>
      </h4>
    </div>
    <div id="collapseMessageTech" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th>What</th>
              <th>HTTP Method</th>
              <th>Path</th>
              <th>Input/Output</th>
              <th>Header</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>Send message</td>
              <td>POST</td>
              <td>/message/technician/:technician_id</td>
              <td>{"msg":"Any message","collapse_type":"status_update"}</td>
              <td>Accept: application/json<br>Content-Type: application/json</td>
              <td>200</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMessageCustomer">
          Message a Customer
        </a>
      </h4>
    </div>
    <div id="collapseMessageCustomer" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th>What</th>
              <th>HTTP Method</th>
              <th>Path</th>
              <th>Input/Output</th>
              <th>Header</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>Send message</td>
              <td>POST</td>
              <td>/message/customer/:customer_id</td>
              <td>{"msg":"Any message","collapse_type":"status_update"}</td>
              <td>Accept: application/json<br>Content-Type: application/json</td>
              <td>200</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>