<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
      <th>Stars</th>
      <th>Technician</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.stars %></td>
        <td><%= rating.technician_id %></td>
        <td><%= rating.comment %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
